In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/cmu-mosi/label.csv')
df

,video_id,clip_id,text,label,label_T,label_A,label_V,annotation,mode
0,03bSnISJMiM,11,A LOT OF SAD PARTS,-0.5,NaN,NaN,NaN,Neutral,train
1,03bSnISJMiM,10,THERE IS SAD PART,-1.2,NaN,NaN,NaN,Negative,train
2,03bSnISJMiM,13,AND ITS A REALLY FUNNY,1.8,NaN,NaN,NaN,Positive,train
3,03bSnISJMiM,12,BUT IT WAS REALLY REALLY AWESOME,2.2,NaN,NaN,NaN,Positive,train
4,03bSnISJMiM,1,ANYHOW IT WAS REALLY GOOD,2.4,NaN,NaN,NaN,Positive,train
...,...,...,...,...,...,...,...,...,...
2194,zhpQhgha_KU,30,BECAUSE THERE REALLY WASNT ALL THAT MUCH TO IT...,-2.0,NaN,NaN,NaN,Negative,test
2195,zhpQhgha_KU,35,UM SO IF YOU LIKE TO HEAR A UM LIKE MORE POSIT...,0.6,NaN,NaN,NaN,Positive,test
2196,zhpQhgha_KU,34,AND SHE REALLY ENJOYED THE FILM,1.2,NaN,NaN,NaN,Positive,test
2197,zhpQhgha_KU,33,IF YOU DO WANNA SEE SOMEBODY WHOS POSSIBLY CRI...,-0.4,NaN,NaN,NaN,Negative,test
2198,zhpQhgha_KU,32,UM YEAH I MEAN IF YOU WANNA SEE A VIDEO UM ITS...,0.8,NaN,NaN,NaN,Positive,test

In [4]:
df.drop(columns=['label_T', 'label_V', 'label_A'], axis=1)

,video_id,clip_id,text,label,annotation,mode
0,03bSnISJMiM,11,A LOT OF SAD PARTS,-0.5,Neutral,train
1,03bSnISJMiM,10,THERE IS SAD PART,-1.2,Negative,train
2,03bSnISJMiM,13,AND ITS A REALLY FUNNY,1.8,Positive,train
3,03bSnISJMiM,12,BUT IT WAS REALLY REALLY AWESOME,2.2,Positive,train
4,03bSnISJMiM,1,ANYHOW IT WAS REALLY GOOD,2.4,Positive,train
...,...,...,...,...,...,...
2194,zhpQhgha_KU,30,BECAUSE THERE REALLY WASNT ALL THAT MUCH TO IT...,-2.0,Negative,test
2195,zhpQhgha_KU,35,UM SO IF YOU LIKE TO HEAR A UM LIKE MORE POSIT...,0.6,Positive,test
2196,zhpQhgha_KU,34,AND SHE REALLY ENJOYED THE FILM,1.2,Positive,test
2197,zhpQhgha_KU,33,IF YOU DO WANNA SEE SOMEBODY WHOS POSSIBLY CRI...,-0.4,Negative,test
2198,zhpQhgha_KU,32,UM YEAH I MEAN IF YOU WANNA SEE A VIDEO UM ITS...,0.8,Positive,test

In [10]:
df.groupby('annotation').count()

            video_id  clip_id  text  label  label_T  label_A  label_V  mode
annotation
Negative        1022     1022  1022   1022        0        0        0  1022
Neutral           97       97    97     97        0        0        0    97
Positive        1080     1080  1080   1080        0        0        0  1080